services:
  api:
    build:
      context: ../../
      dockerfile: deploy/docker/Dockerfile.api
    environment:
      CONFIG_PATH: /internal/config/configs/prod.yaml
      APP_PORT: "8080"
      APP_BASE_URL: ${APP_BASE_URL}
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
      POSTGRES_SSL_MODE: disable
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    restart: always

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: always

  nginx:
    image: nginx:1.27-alpine
    entrypoint: ["/entrypoint.sh"]
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ../nginx/entrypoint.sh:/entrypoint.sh:ro
      - certbot_data:/etc/letsencrypt
      - certbot_webroot:/var/www/certbot:ro
    depends_on:
      - api
    networks:
      - app-network
    restart: always

  certbot:
    image: certbot/certbot
    volumes:
      - certbot_data:/etc/letsencrypt
      - certbot_webroot:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pg_data:
  certbot_data:
  certbot_webroot:
